@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");

* {
  box-sizing: border-box;
}

.App {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: rgb(231, 231, 231);
}

img {
  width: 80vw;
}

h1 {
  color: rgb(34, 160, 34);
  margin: 0;
}

p {
  color: rgb(109, 109, 109);
}
