.homepage {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  padding: 0 2em;
}

.homepage p {
  width: 90%;
}

.navigation {
  margin-top: 1em;
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column-reverse;
}
