.App {
  text-align: center;
}

.link {
  text-decoration: none;
  color: black;
}

.home {
  max-width: 705px;
  padding-left: 200px;
}

.beer {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 30px;
}

.beerPic {
  height: 150px;
  width: auto;
}

.beerText {
  text-align: left;
  max-width: 300px;
}

.gray {
  color: gray;
}

.line {
  width: 50%;
}

.singleBeerPic {
  height: 250px;
  width: auto;
}

.singleBeer {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-left: 380px;
  padding-top: 50px;
  padding-bottom: 200px;
  text-align: left;
}

.row {
  display: flex;
  justify-content: space-between;
}